.card {
  padding-top: 20px;
  margin-right: 20px;
  width: 330px;

  margin-bottom: 30px;

  .favorite {
    position: absolute;
    cursor: pointer;
    padding: 20px;
  }

  .plus {
    cursor: pointer;
  }

  span {
    padding-bottom: 10px;
  }
}
