@font-face {
  font-family: "Orelo";
  src: local("Orelo"),
    /* Если не получилось, загрузит woff2 */ url("../fonts/Orelo.woff2")
      format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
      url("../fonts/Orelo.woff") format("woff");
}

:root {
  --typewriterSpeed: 6s;
  --typewriterCharacters: 35;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  line-height: 1.6;
}

*,
*:before *:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 20px;
}

/* Container */

.container {
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
}

/* Header */

.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: white;
}

/* Anima Text */

.anima-text {
  font-size: 16px;
  display: inline;
  width: max-content;
  position: relative;
  font-weight: 400;
}

.anima-text::before,
.anima-text::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.anima-text::after {
  width: 0.125em;
  background: rgb(0, 0, 0);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 3s forwards,
    blink 750ms steps(35) infinite;
}

.anima-text::before {
  background-color: #ffffff;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 3s forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

/* Nav */

.nav-btn {
  margin-left: 85px;

  color: #1b1b1b;

  border: 0;
  background-color: transparent;
  font-family: "Noto Sans Mono", monospace;
  font-size: 16px;

  text-decoration: none;
  transition: color 0.2s linear;
  z-index: 100;
}

.nav-btn:hover {
  text-decoration: underline;
}

.nav-btn:hover {
  background-color: #ddd;
}

.nav-btn.active {
  background-color: #5e3ddf;
  border-right-color: #5e3ddf;
  color: #fff;
}

.nav-btn:last-child {
  border-right: none;
}

/* Nav Toggle */

.nav-toggle {
  display: none;
  width: 30px;

  padding: 15px 0;
  font-size: 0;
  color: transparent;

  border: 0;
  background-color: #181818;

  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 1;
}

.nav-toggle.active .nav-toggle-item {
  background: none;
}

.nav-toggle.active .nav-toggle-item::before {
  transform-origin: top left;
  transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle-item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-3px);
}

.nav-toggle-item::before,
.nav-toggle-item::after {
  content: "";
  width: 30px;
  height: 3px;

  position: absolute;

  background-color: white;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}

.nav-toggle-item::before {
  top: -7.5px;
}

.nav-toggle-item::after {
  bottom: -9px;
}

.nav-toggle-item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1b1b1b;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;

  z-index: 30;
}

.content-inner {
  position: relative;
  font-family: "Orelo", monospace;
  font-size: 150px;
  text-align: center;

  background: #5ef763;
  background: linear-gradient(to right, #5ef763 0%, #25ebf5 50%, #e810a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  width: 100%;
  margin: 0 auto;
}

/* Vanta Canvas */

.vanta-canvas {
  position: absolute;
  width: 50%;
  height: 100vh;
  z-index: 0;
  left: 0;
  top: 0;
}

/* Glass Toggle On Text */

.glass-toggle {
  width: 50%;
  height: 100vh;
  right: 0;
  top: 0;

  position: absolute;

  background: rgba(255, 255, 255, 0.34);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);

  z-index: 50;
}

/* Tabs Content */

.tabs__content {
  right: 0%;
  top: 0%;
  width: 45%;

  position: absolute;

  margin: 125px 40px;

  background-color: transparent;
  z-index: 1000;
}

.tabs__item {
  display: none;
}

.tabs__item a {
  color: #181818;
}

.tabs__item.active {
  display: block;
}

.tab-img {
  width: 100%;
  margin-top: 20px;
}

/* Tab Content Button */

.contact-btn {
  border: #181818 solid 3px;
  border-radius: 30px;
  background-color: transparent;

  padding: 20px;
  margin-top: 15px;

  font-size: 16px;

  font-family: "Orelo";
  text-decoration: none;
  color: #1b1b1b;
}

.contact-btn a {
  text-decoration: none;
  color: #181818;
}

/* Footer */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  color: white;
  padding-bottom: 30px;
  margin: 0px 30px;
}

/* Mobile */

@media only screen and (max-width: 414px) {
  /* Header */

  .header-inner {
    line-height: 1.8;
  }

  .header-logo {
    font-size: 18px;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #181818;
    padding-bottom: 10px;
  }

  /* Anima Text */

  .anima-text {
    display: block;
  }

  /* Vanta Canvas */

  .vanta-canvas {
    width: 100%;
  }

  /* Header */

  .header {
    background-color: #181818;
  }

  .header-logo {
    color: white;
  }

  /* Nav */

  .nav_link {
    display: block;
    margin: 0;
    padding: 0px 30px 10px 30px;
  }

  .nav-toggle {
    display: block;
  }

  .nav-btn {
    color: white;
    margin-left: 0;

    margin: 15px 0;
  }

  .nav.active {
    display: block;
  }

  /* Tabs Content */

  .tabs__content {
    width: 100%;

    position: absolute;
    margin: 0 auto;
  }

  .tabs__item.active {
    padding: 300px 30px 30px 30px;
    background-color: white;
  }

  /* Content */

  .content-inner {
    font-size: 100px;
    padding-top: 50px;
  }

  /* Glass Toggle */

  .glass-toggle {
    display: none;
  }
}
