@font-face {
  font-family: "Orelo";
  src: local("Orelo"),
    /* Если не получилось, загрузит woff2 */ url("../fonts/Orelo.woff2")
      format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
      url("../fonts/Orelo.woff") format("woff");
}

:root {
  --typewriterSpeed: 6s;
  --typewriterCharacters: 35;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  width: 100%;
  height: 100vh;
  background: url("../img/main-bg.jpg") center no-repeat;
  background-size: cover;
  line-height: 1.6;
  position: relative;
}

*,
*:before *:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 20px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Container */

.container {
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
}

/* Mouse */

.mouse--follower {
  width: 30px;
  height: 30px;
  background-color: #030303;
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
  cursor: none;
}

/* Header */

.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
}

.header-inner {
  display: flex;

  justify-content: space-between;
  margin: 30px 30px;
}

.header-logo {
  color: white;
  width: 700px;
}

/* Anima Text */

.anima-text {
  font-size: 16px;
  display: inline;
  width: max-content;
  position: relative;
  font-weight: 400;
}

.anima-text::before,
.anima-text::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.anima-text::after {
  width: 0.125em;
  background: white;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 3s forwards,
    blink 750ms steps(35) infinite;
}

.anima-text::before {
  background-color: #181818;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 3s forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

/* Nav */

.nav_link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 50px;
  color: #1b1b1b;
  text-decoration: none;
  transition: color 0.2s linear;
  z-index: 10000;
}

/* Services */

.content-services {
  position: absolute;
  font-size: 16px;
  color: white;
  margin: 0px 30px;
  z-index: 10;
}

/* Content */

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-inner {
  position: relative;
  font-family: "Orelo", monospace;
  font-size: 150px;
  text-align: center;

  background: #5ef763;
  background: linear-gradient(to right, #5ef763 0%, #25ebf5 50%, #e810a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  width: 100%;
  margin: 0 auto;
}

/* Glass Toggle */

.glass-toggle {
  margin-top: 2em;
  padding: 3em;
  width: 960px;
  margin-left: 52.5em;
  height: 1080px;
  position: absolute;

  background: rgba(255, 255, 255, 0.34);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;

  color: white;
  padding-bottom: 30px;
  margin: 0px 30px;
}
